.ant-menu-horizontal {
  border-bottom: none!important;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-prev:focus, 
.slick-arrow.slick-prev:hover
 {
  color: red!important;
  width: 34px!important;
  height: 34px!important;
  z-index: 1;
  background-image: url(../public/prevBtn.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  left: 5px;
}

.slick-arrow.slick-next,
.slick-arrow.slick-next:focus,
.slick-arrow.slick-next:hover
{
  color: red!important;
  width: 34px!important;
  height: 34px!important;
  z-index: 1;
  background-image: url(../public/nextBtn.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  right: 33px;
}

h3 {
  font-size: 25px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.ant-card .ant-card-body {
  padding: 20px 24px 10px 24px;
}